* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #191919;
    color: #fff;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    height: 100%;
    width: 100%;
}

a {
    color: #fff;
    text-transform: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: 15%;
    margin-bottom: 400px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: ;
}

.login-box {
    display: inline;
}

.brand-login {
    height: 50px;
    width: 50px;
    background-position: center center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: inherit;
    color: #fff;
}